.feinman__title {
    display: flex;
    justify-content: center;
    max-width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-style: bold;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
  }