@import url(./__brief/two-columns__brief.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__span_accent/two-columns__span_accent.css);
@import url(./_oakley/two-columns_oakley.css);

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;
  }